<div class="dropdown">
	<button class="button-type dropdown-toggle" type="button" id="dropdownNacho" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		{{title}}
		<span class="caret"></span>
	</button>
	<ul class="menu-type dropdown-menu" aria-labelledby="dropdownNacho">
		<div ng-repeat="row in rows">
			<li>
				<div ng-if="row.type == 'text'" >{{row.name}}</div>
				<div ng-if="row.type != 'text'" class="button-menu" ng-click="select({name:row.name, title:title})">{{row.name}}</div>
			</li>
			<li ng-if="row.divider" role="separator" class="divider"></li>
		</div>
	</ul>
</div>
				
