<div class="formularioLoggin">
	<span class="redValueUser" ng-if="errorMessage">{{errorMessage}}</span>
	<div class="startInput">
		<span class="emailType">Correo electrónico:</span>
		<input type="email" autofocus ng-model="user"></input>
	</div>
	<form ng-submit="entrar(user, password)" >
		<div class="betweenInput">
			<span class="passwordType">Contraseña:</span>
			<input type="password" ng-model="password"></input>
		</div>
	</form>
	<div class="betweenInput">
		<button class="entrarButtonType" ng-click="entrar(user, password)">Entrar</button>
	</div>
</div>