<div ng-controller="mainPage">
	<div name="cabecera" class="cabecera row">
		<span>Videos recientes</span>
	</div>
	<div ng-if="videosRecientes" videos-carrete videos={{videosRecientes}}></div>
	<div name="cabecera" class="cabecera row">
		<span>Videos más visitados</span>
	</div>
	<div ng-if="videosMasVisitados" videos-carrete videos={{videosMasVisitados}}></div>
</div>

