<div class="formularioRegister">
	<div class="row" ng-if="!selectedRegisterType">
		<div class="col-xs-1"></div>
		<div class="col-xs-4" name="alumno">
			<img ng-click="changeSelectedRegisterType('alumno')" width="100%" height="50%" src="http://img.youtube.com/vi/ggiBkd3BaV4/0.jpg">
			<span>
				Alumno: <br> 
				Podras subir vídeos a canales creados. <br> 
				Podras acceder a canales privados. <br> 
				Seguir canales o profesores y mantenerte actualizado.
			</span>
			<button ng-click="changeSelectedRegisterType('alumno')">Alumno</button>
		</div>
		<div class="col-xs-2"></div>
		<div class="col-xs-4" name="profesor">
			<img ng-click="changeSelectedRegisterType('profesor')" width="100%" height="50%" src="http://img.youtube.com/vi/ggiBkd3BaV4/0.jpg">
			<span>
				Profesor: <br> 
				Podras subir vídeos y crear canales propios. <br> 
				Podras acceder a canales privados. <br> 
				Podras establecer tus canales como públicos o privados.
			</span>
			<button ng-click="changeSelectedRegisterType('profesor')">Profesor</button>
		</div>
		<div class="col-xs-1"></div>
	</div>
	<div ng-if="selectedRegisterType">
		<div ng-if="registroRealizado">
			El registro del nuevo {{selectedRegisterType}} {{nombre}} {{apellidos}} se ha realizado correctamente.
		</div>
		<div ng-if="!registroRealizado">
			<span class="moveCenter">Registro de nuevo {{selectedRegisterType}}<br></span>
			<span class="redValue" ng-if="mensaje">{{mensaje}}</span>
			<div class="mediuma display-inline">
				<div class="fieldNew">
					<span>Nombre*:<br></span>
					<input class="fieldInput" type="text" ng-model="name"></input>
				</div>
				<div class="fieldNew">
					<span>Apellidos*:<br></span>
					<input class="fieldInput2" type="text" ng-model="subname"></input>
				</div>
			</div>
			<div class="mediumaa display-inline">
				<div class="fieldNew">
					<span>Correo electrónico*:<br></span>
					<input class="fieldInput" type="email" ng-model="email"></input>
				</div>
				<div class="fieldNew">
					<span>Contraseña*:<br></span>
					<input class="fieldInput" type="password" ng-model="password"></input>
				</div>
				<div class="fieldNew">
					<span>Repetir Contraseña*:<br></span>
					<input class="fieldInput" type="password" ng-model="password2"></input>
				</div>
			</div>
			<div>
				<button class="buttonRegistrar" ng-click="registrarUser(name, subname, email, password, password2)">Enviar</button>
			</div>
		</div>
	</div>
</div>