<div ng-controller="seleccionNacho">
	<div name="cabecera" class="cabecera">
		<center>{{title}}</center>
	</div>
	<div ng-if="videoNoSelected">
		<div class="display-inline" ng-if="twoThingsSelected" ng-repeat="video in videos">
			<div videos-nacho class="width-250" urlimagen={{video.urlImagen}} title={{video.title}} url="{{video.url}}" ids={{video._id}}></div>
		</div>
		<div ng-if="!twoThingsSelected" ng-repeat="rowVideo in rowVideos">
			<div name="cabecera" class="cabecera">
				<span>{{rowVideo.titleVideos}} de {{rowVideo.title}}</span>
			</div>
			<div ng-if="rowVideo.videos" videos-carrete videos={{rowVideo.videos}}></div>
		</div>
	</div>
	<div ng-if="!videoNoSelected">
		<div video-nacho url={{video.url}} id={{video._id}}></div>
	</div>
</div>
