<div class="videoscarrete row">
	<img ng-click="moveLeft(videos[0]._id)" class="arrow-left-relative" src="/static/images/arrow-left.png">
	<div class="videos-move">
		<div class="videos-line" id="{{videos[0]._id}}">
			<div class="horizontalStyle" ng-repeat="video in videos">
				<div videos-nacho title={{video.title}} url="{{video.url}}" urlimagen={{video.urlImagen}} ids={{video._id}}></div>
			</div>
		</div>
	</div>
	<img ng-click="moveRight(videos[0]._id)" class="arrow-right-relative" src="/static/images/arrow-right.png">
</div>