body {
	background-color: #87C3D3;
	color: #347A8D;
	box-sizing: border-box;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.cabecera {
	width: 100%;
	background-color: #ffffff;
	color: #347A8D;
	font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
	height: 40px;
	font-size: 19px;
	padding-left: 10px;
	vertical-align:	middle;
}

.videoscarrete {
	overflow: hidden;
	display: -moz-box;
	display: -webkit-box;
	padding: 5px;
}

.menuVideo {
	width: calc(100% - 230px);
	width: -moz-calc(100% - 230px);
	position: relative;
	left: 10px;
}

.video-title {
	font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
	padding-left: 15px;
    text-overflow: ellipsis;
}

.button-type {
	border: solid 1px #347A8D;
	background-color: #ffffff;
	color: black;
	font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
	height: 25px;
	border-radius: 2px;
	width: 120px;
}

.titlealto {
	height: 70px;
	background-color: #ffffff;
	color: black;
	box-shadow: 5px 10px 15px 5px rgba(0,0,0,.1);
    box-sizing: border-box;
    position: fixed;
    padding-left: 5px;
    width: 100%;
    z-index: 9999999;
    border-bottom: solid 1px #347A8D;
}

.centeredTitle {
	position: relative;
	left: 30%;
}

.subTitle {
	background-color: #ffffff;
	color: black;
    width: calc(100% - 180px);
    width: -moz-calc(100% - 180px);
	visibility: visible;
    left: 180px;
    opacity: 1;
    top: 70px;
    box-shadow: 5px 10px 15px 5px rgba(0,0,0,.1);
    box-sizing: border-box;
    position: fixed;
    padding-left: 5px;
    padding-top: 10px;
    height: 50px;
    z-index: 9999999;
}

.sidebar {
	background-color: #ffffff;
	color: black;
	width: 180px;
	visibility: visible;
    left: 0;
    opacity: 1;
    top: 70px;
    box-shadow: 5px 10px 15px 5px rgba(0,0,0,.1);
    box-sizing: border-box;
    position: fixed;
    padding-left: 5px;
    padding-top: 10px;
    height: calc(100% - 100px);
    height: -moz-calc(100% - 100px);
    z-index: 9999999;
}

.menu-principal {
	background-color: #F1F1F1;
	box-sizing: border-box;
}

.button-menu {
	cursor: pointer; 
	cursor: hand;
}

.menu-type {
	background-color: #ffffff;
	color: black;
}

.separamenus {
	margin: 20px;
}

.separabuttons {
	margin: 2px;
}

.descripcionVideo {
	margin: 10px;
	font-size: 20px;
	height: 100%;
	word-wrap: break-word;
	min-width: 310px;
	min-height: 120px;
	max-width: 865px;
    max-height: 425px;
	width: 100%;
	height: 100%;
}

.video {
	min-width: 310px;
	min-height: 120px;
	max-width: 865px;
    max-height: 425px;
	width: calc(100% - 230px);
	width: -moz-calc(100% - 230px);
	height: 100%;
	left: 0px;
	top: 0px;
	transform: none;
	border: 1px solid #347A8D;
}

.caracteristicasVideo {
	display: -webkit-box;
	min-width: 200px;
	width: calc(100% - 865px);
	width: -moz-calc(100% - 865px);
	font-size: 20px;
	height: 100%;
	word-wrap: break-word;
	position: absolute;
    right: -200px;
}

.videos {
	background-color: #ffffff;
	color: black;
	width: calc(100% - 300px);
	width: -moz-calc(100% - 300px);
	left: 240px;
	float: left;
	position: absolute;
	top: 140px;
	margin-bottom: 20px;
}

.row {
	margin: 0px;
}

.img-size {
	width: 100%;
	height: 180px;
	padding: 10px;
}

.arrow-right-relative {
	opacity: 0.7;
	width: 50px;
	height: 50px;
	top: 85px;
	right: 12px;
	position: relative;
	z-index: 999999;
}

.arrow-left-relative {
	opacity: 0.7;
	width: 50px;
	height: 50px;
	top: 85px;
	left: -7px;
	position: relative;
	z-index: 99999;
}

.videos-move {
	left: 0px;
	width: calc(100% - 80px);
	width: -moz-calc(150vh);
	height: 200px;
	overflow: hidden;
}

.display-inline {
	display: -moz-grid-group;
	display: -webkit-inline-box;
}

.width-250 {
	width: 250px;
}

.videos-line {
	width: 100%;
	margin-left: 0px;
	display: -moz-grid-group;
	display: -webkit-inline-box;
	margin-left: -9px;
}
.horizontalStyle {
	width: 20%;
}

@-moz-document url-prefix() { 
	.horizontalStyle {
		width: 30vh
	}
	.width-250 {
		width: 20%;
	}
}

.filtros {
	margin-left: 10px;
	margin-right: 10px;
}

.buscarVideos {
	margin-left: 10px;
	margin-right: 10px;
	width: 150px;
}

.buscarProfesores {
	margin-left: 10px;
	margin-right: 10px;
	width: 150px;
}

.buscarAsignaturas {
	margin-left: 10px;
	margin-right: 10px;
	width: 150px;
}

.entrarButton {
	margin-left: 10px;
	margin-right: 80px;
	float: right;
}

.salirButton {
	margin-left: 10px;
	margin-right: 80px;
	float: right;
}

.registrarButton {
	margin-left: 10px;
	margin-right: 10px;
	float: right;
}

.formularioLoggin {
	width: 100%;
	height: 100%;
}

.emailType {
	margin-left: 35%;
	margin-right: 10px;
}

.entrarButtonType {
	margin-left: 40%;
	width: 100px;
}

.passwordType {
	margin-left: 35%;
	margin-right: 53px;
}

.startInput {
	margin-top: 20px;
}

.betweenInput {
	margin-top: 20px;
	margin-bottom: 20px;
}

.formularioRegister {
	margin: 50px;
	width: 90%;
	height: 80%;
}

.fieldNew {
	margin-right: 10px;
	margin-left: 20px;
	margin-top: 15px;
}

.redValue {
	color: red;
	font-size: 20px;
}

.moveCenter {
	margin-left: 30%;
	font-size: 20px;
}

.fieldInput {
	width: 200px;
}


.fieldInput2 {
	width: 430px;
}

.buttonRegistrar {
	margin-left: 45%;
	margin-top: 20px;
}

.mediuma {
	margin-left: 20%;
	width: 60%;
}

.mediumaa {
	margin-left: 20%;
	width: 60%;
}

.usernameName {
	top: 5px;
    position: relative;
	margin-left: 10px;
	margin-right: 10px;
	float: right;
}

.redValueUser {
	color: red;
    font-size: 20px;
    margin-left: 40%;
}