<html>
	<head>
		<title>Ejercicios Resueltos</title>
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	</head>
	<body ng-app="webApp">
		<div class="titlealto">
			<h2 class="centeredTitle title">Academia online de cursos y asignaturas a todos los niveles</h2>
		</div>
		<div>
			<div class="row" ng-controller="general">
				<div ng-controller="sideBar" class="sidebar">
					<div ng-if="sideBar.asignaturas[0]">						
						Seleccione Asignatura
						<div ng-repeat="asignatura in sideBar.asignaturas" class="separabuttons">
							<div dropdown-nacho rows={{asignatura.rows}} function="selectAsignatura(name, title)" title={{asignatura.title}}></div>
						</div>
						<div class="separamenus">
						</div>
					</div>
					<div ng-if="sideBar.niveles[0]">
						Seleccione Nivel
						<div ng-repeat="nivel in sideBar.niveles" class="separabuttons">
							<div dropdown-nacho rows={{nivel.rows}} function="selectLevel(name, title)" title={{nivel.title}}></div>
						</div>
					</div>
				</div>
				<div class="subTitle">
					<div>
						<span class="filtros">Filtros</span>
						<input class="buscarVideos" placeholder="Buscar Videos"></input>
						<input class="buscarProfesores" placeholder="Buscar Profesores"></input>
						<input class="buscarAsignaturas" placeholder="Buscar Asignaturas"></input>
						<button ng-if="loged" ng-click="salirClick()" class="salirButton">Salir</button>
						<span ng-if="loged" class="usernameName">Conectado: {{user.name}}</span>
						<button ng-if="!loged" ng-click="entrarClick()" class="entrarButton">Entrar</button>
						<button ng-if="!loged" ng-click="registrarClick()" class="registrarButton">Registrarse</button>
					</div>
				</div>
				<div class="videos">
					<div class="separabuttons">
						<div ng-show="selectedTitle" seleccion-nacho title={{selectedTitle}}></div>
						<div ng-show="mainPage" main-nacho></div>
						<div ng-show="entrarPage" entrar-page-nacho></div>
						<div ng-show="registrarPage" registrar-page-nacho></div>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.10/angular.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.10/angular-route.min.js"></script> -->
		<script type="text/javascript" src="/static/js/controller.js"></script>
	</body>
</html>